<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Chờ xác nhận</title>
    <link rel="stylesheet" th:href="@{/admin/css/hoaDon/TrangThaiHoaDon/choXacNhan.css}">
    <script th:src="@{/admin/js/hoadon/TrangThaiHoaDon/choXacNhan.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
</head>

<body>
<div class="container-fluid" layout:fragment="content" th:object="${HoaDonDTO}">
    <div class="tab-buttons">
        <button class="tab-button active" onclick="redirectToChoxacNhan()">Chờ xác nhận</button>
        <button class="tab-button" onclick="redirectToChoGiaoHang()">Chờ giao hàng</button>
        <button class="tab-button" onclick="redirectToDangGiao()">Đang giao</button>
        <button class="tab-button" onclick="redirectToDaGiao()">Đã giao</button>
        <button class="tab-button" onclick="redirectToDahuy()">Đã hủy</button>
    </div>
    <h1>
        Chờ xác nhận
    </h1>
    <div class="hduong">
        <input type="text" class="form-control custom-input" placeholder="Tìm kiếm..."
               id="search-input-choXacNhan">
        <div class="input-group-append">
            <button class="btn btn-primary btnTimKiem" type="button" id="timKiem-choXacNhanDonHang">Tìm kiếm
            </button>
        </div>

        <input type="date" class="form-control" id="search-input-date-choXacNhan">
        <button class="btn btn-primary" type="button" id="timKiemNgay-ChoXacNhanDonHang">
            <i class="fas fa-search"></i>
        </button>

        <div class="col-md-4">
            <button id="btn-tatCaHoaDonChoXacNhan" type="button"
                    class="dt-button buttons-html5 btn btn-white btn-success btn-bold"
                    data-toggle="tooltip" title='Tất cả hóa đơn'>
											<span> <i class="fas fa-sync-alt"></i>
											</span>
            </button>
        </div>
    </div>

    <div class="hduong1">
        <br>
        <button id="XacNhanTatCa" class="b1">Xác nhận tất cả</button>
        <br>
        <div class="modal fade xacNhanTatCaModal" tabindex="-1" aria-labelledby="xacNhanTatCaModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="xacNhanTatCaModalLabel">Xác nhận đơn</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xác nhận tất cả đơn hàng?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                        <button type="button" class="btn btn-secondary btn-khong" data-bs-dismiss="modal">Không
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button id="HuyTatCa" class="b1">Hủy tất cả</button>
        <div class="modal fade huyTatCaModal" tabindex="-1" aria-labelledby="huyTatCaModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="huyTatCaModalLabel">Xác nhận đơn</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Hủy tất cả đơn hàng?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                        <button type="button" class="btn btn-secondary btn-khong" data-bs-dismiss="modal">Không
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="user-table-ChoXacNhan" class="table">
        <thead>
        <tr>
            <th>STT</th>
            <th scope="col">Mã đơn</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày tạo đơn</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hoaDon, stt : *{listHoaDonDTO}">
            <td th:text="${(page - 1) * size + stt.count}"></td>
            <th scope="row" th:text="${hoaDon.maDon}"></th>
            <td th:text="${hoaDon.nguoiNhan}"></td>
            <td th:text="${hoaDon.sdtNguoiNhan}"></td>
            <td th:text="${#dates.format(hoaDon.ngayTao, 'dd/MM/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(hoaDon.tongTienHoaDon, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
            <td th:text="${hoaDon.ghiChu}"></td>
            <td>
                <div class="button-group">
                    <!--XÁC NHẬN ĐƠN HÀNG-->
                    <button class="action-button XacNhanDon" th:attr="data-id=${hoaDon.id}"
                            th:data-target="'#modalXacNhanDon-' + ${hoaDon.id}">
                        <i class="fas fa-check"></i>
                    </button>
                    <br>
                    <div class="modal fade xacNhanModal" th:id="'modalXacNhanDon-' + ${hoaDon.id}" tabindex="-1"
                         aria-labelledby="xacNhanModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="xacNhanModalLabel">Xác nhận đơn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Xác nhận đơn hàng?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                                    <button type="button" class="btn btn-secondary btn-khong"
                                            data-bs-dismiss="modal">Không
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--HỦY ĐƠN HÀNG-->
                    <button class="action-button HuyDon" th:attr="data-id=${hoaDon.id}"
                            th:data-target="'#modalHuyDon-' + ${hoaDon.id}">
                        <i class="fas fa-times"></i>
                    </button>
                    <br>
                    <div class="modal fade huyModal" th:id="'modalHuyDon-' + ${hoaDon.id}" tabindex="-1"
                         aria-labelledby="huyDonModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="huyDonModalLabel">Hủy đơn hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Hủy đơn hàng?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                                    <button type="button" class="btn btn-secondary btn-khong"
                                            data-bs-dismiss="modal">Không
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--XEM CHI TIẾT HÓA ĐƠN-->
                    <div class="btn-group">
                        <a th:href="@{'/ChiTietHoaDon/ChoXacNhan/hoa-don-id=' + ${hoaDon.id}}"
                           class="btn btn-warning btn-sm" type="submit">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="*{!listHoaDonDTO.isEmpty() and #strings.contains(#httpServletRequest.requestURI, '/danhSach')}">
        <ul class="pagination">
            <li th:each="pageNumber : ${#numbers.sequence(1, pageChoXacNhan)}">
                <a th:href="@{/admin/DonHang/ChoXacNhanDonHang/danhSach(page=${pageNumber})}" th:text="${pageNumber}"
                   th:class="${pageNumber == page ? 'active-page' : ''}"></a>
            </li>
        </ul>
    </div>

    <div th:if="*{!listHoaDonDTO.isEmpty() and #strings.contains(#httpServletRequest.requestURI, '/timKiem')}">
        <ul class="pagination">
            <li th:each="pageNumber : ${#numbers.sequence(1, pageChoXacNhan)}">
                <a th:with="searchUrl=@{/admin/DonHang/ChoXacNhanDonHang/timKiem/__${duLieuTimKiem}__(page=${pageNumber})}"
                   th:href="${searchUrl}" th:text="${pageNumber}"
                   th:class="${pageNumber == page ? 'active-page' : ''}"></a>
            </li>
        </ul>
    </div>

    <div th:if="*{!listHoaDonDTO.isEmpty() and #strings.contains(#httpServletRequest.requestURI, '/Ngay')}">
        <ul class="pagination">
            <li th:each="pageNumber : ${#numbers.sequence(1, pageChoXacNhan)}">
                <a th:with="searchUrl=@{/admin/DonHang/ChoXacNhanDonHang/Ngay/__${duLieuTimKiem}__(page=${pageNumber})}"
                   th:href="${searchUrl}" th:text="${pageNumber}"
                   th:class="${pageNumber == page ? 'active-page' : ''}"></a>
            </li>
        </ul>
    </div>
    <div class="alert alert-warning container mt-3 text-center" th:if="*{listHoaDonDTO.isEmpty()}"
         style="background-color: transparent; border: none;">
        <img src="/admin/img/noData2.png" alt="Không có sản phẩm" style="width: 300px; height: 300px;">
        <p class="empty-message" style="margin-top: 20px; font-size: 1.8em;">KHÔNG CÓ DỮ LIỆU</p>
    </div>
</div>

</body>

</html>








