<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" th:href="@{/admin/css/login/login1.scss}">-->
    <link rel="stylesheet" th:href="@{/admin/css/login/login2.css}">
    <script th:src="@{/admin/js/login/login.js}"></script>
<link rel="stylesheet" th:href="@{/customer/login/style-register.css}" type="text/css">
</head>

<body class="img js-fullheight"
      style="background-image: url('/admin/img/bg.jpg'); background-size: cover; background-position: center center; height: 100vh;">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center">
        	
            <div class="col-md-6 col-lg-4">
            <th:block th:if="${message != null}">
                        <i class="pull-left text-success fw-bold" th:text="${message}"></i>
                    </th:block>
                    <th:block th:if="${messageError != null}">
                        <i class="pull-left text-danger fw-bold" th:text="${messageError}"></i>
                    </th:block>
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Đăng ký</h3>
                    <form th:action="@{/security/register/create}" class="signin-form" method="post" th:object="${khachHangDTO}">
                        <div class="form-group pt-2">
                        <small th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}" class="text-danger"></small>
                                   <input class="form-control" type="text" name="hoTen" placeholder="Họ tên ?" th:field="*{hoTen}" required=""> 
                        </div>
                        <div class="form-group pt-2">
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                                   <input class="form-control" type="email" name="email" placeholder="Email ?" th:field="*{email}" required=""> 
                        </div>
                        <div class="form-group pt-2">
                        <small th:if="${#fields.hasErrors('soDienThoai')}" th:errors="*{soDienThoai}" class="text-danger"></small>
                                  <input class="form-control" type="text" name="soDienThoai" placeholder="Số điện thoại" th:field="*{soDienThoai}" required=""> 
                        </div>
                        <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></small>
                        <div class="form-group">
                        		<select class="form-control select-address" th:field="*{city}" id="city" >
									<option class="select-items" value="" selected="selected" >chọn thành phố</option>
								</select> 
                        </div>
                        <small th:if="${#fields.hasErrors('district')}" th:errors="*{district}" class="text-danger"></small>
                        <div class="form-group">
                                 <select class="form-control select-address" th:field="*{district}" id="district">
									<option class="select-items" value=""  selected="selected">chọn quận</option>
								</select> 
                        </div>
                        <small th:if="${#fields.hasErrors('ward')}" th:errors="*{ward}" class="text-danger"></small>
                        <div class="form-group">
                                 <select class="form-control select-address" th:field="*{ward}" id="ward">
									<option class="select-items" value="" selected="selected">chọn phường</option>
								</select>  
                        </div>
                        <div class="form-group pt-2">
                        <small th:if="${#fields.hasErrors('soNha')}" th:errors="*{soNha}" class="text-danger"></small>
                                 <input class="form-control" type="text" placeholder="Số nhà" th:field="*{soNha}" required=""> 
                        </div>
                        <div class="form-group pt-2">
                                 <div class="row">
                                 		<div class="col-md-2">
                                 				<input type="checkbox" class="checkbox" name="trangThai" th:field="*{trangThai}" th:value="*{trangThai}" th:checked="*{trangThai == 1}" required="">
                                 		</div>
                                 		<div class="col-md-10"><span>Tôi đồng ý với điều khoản !</span> </div>
                                 </div>
                                  
                        </div>
                        <div class="form-group pt-3">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
                        </div>
                        <div class="form-group d-md-flex pt-3">
                            <div class="w-50">
                                
                            </div>
                            <div class="w-50 text-md-right">
                                <a th:href="@{/security/forgot-password}" id="forget" style="color: #fff">Quên mật khâu ?</a>
                                <br>
                                <a th:href="@{/security/login/form}" style="color: #fff">Đăng nhập ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</section>
<script th:src="@{/customer/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/customer/js/cloudflare-ajax-axios.js}"></script>
	<script th:src="@{/customer/js/call-api-address.js}"></script>
</body>

</html>