<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" th:href="@{/admin/css/login/login1.scss}">-->
    <link rel="stylesheet" th:href="@{/admin/css/login/login2.css}">
    <script th:src="@{/admin/js/login/login.js}"></script>

</head>

<body class="img js-fullheight"
      style="background-image: url('/admin/img/bg.jpg'); background-size: cover; background-position: center center; height: 100vh;">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">ĐĂNG NHẬP</h3>
                    <th:block th:if="${alert == 'danger'}">
                        <i class="pull-left text-danger" th:text="${message}"></i>
                    </th:block>
                    <th:block th:if="${alert == 'success'}">
                        <i class="pull-left text-success" th:text="${message}"></i>
                    </th:block>
                    <div th:if="${param.logout}">
                        <i class="pull-left text-success">Đăng xuất thành công !</i>
                    </div>
                    <form th:action="@{/security/login}" method="post" class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" id="userName" name="username"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Mật khẩu"
                                   id="password"
                                   name="password" required>
                            <span toggle="#password-field"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary" name="remember-me">Lưu mật khẩu<input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a th:href="@{/security/forgot-password}" id="forget" style="color: #fff">Quên mật khâu</a>
                                <br>
                                <a th:href="@{/security/register/create}" style="color: #fff">Bạn chưa có tài khoản?Đăng ký</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/oauth2/authorization/google}" class="form-control btn  submit px-3">Đăng nhập với google ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</section>

</body>

</html>