<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="header">-->
<!--    &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;-->
<!--    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--        <i class="fa fa-bars"></i>-->
<!--    </button>-->
<!--    <ul class="navbar-nav ml-auto">-->
<!--        &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
<!--        <li class="nav-item dropdown no-arrow d-sm-none"><a class="nav-link dropdown-toggle" href="#"-->
<!--                                                            id="searchDropdown" role="button" data-toggle="dropdown"-->
<!--                                                            aria-haspopup="true" aria-expanded="false"> <i-->
<!--                class="fas fa-search fa-fw"></i>-->
<!--        </a> &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
<!--                 aria-labelledby="searchDropdown">-->
<!--                <form class="form-inline mr-auto w-100 navbar-search">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
<!--                               aria-label="Search" aria-describedby="basic-addon2">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-primary" type="button">-->
<!--                                <i class="fas fa-search fa-sm"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </li>-->
<!--        &lt;!&ndash; Nav Item - Alerts &ndash;&gt;-->

<!--        <li class="nav-item dropdown no-arrow" id="nguoiDangDangNhap">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="userDropdown"-->
<!--               role="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--               aria-expanded="false">-->
<!--                <span class="mr-2 d-none d-lg-inline text-gray-600 small">[[${#request.userPrincipal.principal.fullname}]]</span>-->
<!--                <img class="img-profile rounded-circle" th:src="@{/admin/img/undraw_profile.svg}">-->
<!--            </a>-->
<!--        </li>-->
<!--        <script th:inline="javascript">-->
<!--            $(document).ready(function () {-->
<!--                $('#nguoiDangDangNhap').click(function () {-->
<!--                    window.location.href = "/admin/thongTinNhanVienDangDangNhap";-->
<!--                });-->
<!--            });-->
<!--        </script>-->
<!--    </ul>-->
<!--    <a class="btn btn-default btn-outline-primary" th:href="@{/security/logoff}">Đăng xuất</a>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->